 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
I was born in 1989 in Ankara. I completed my high school education in Nermin-Mehmet Çekiç Anatolian High School and received her bachelor's degree in Computer Engineering at Ankara University. I am still studying Computer Science at Gazi University. In July 2013, I started to work in STM family as Senior Test Engineer. He is married and has one child. </p>
                </div>
                <div class="col-lg-4">
                    <p>I have worked on many projects on different domains such as command control systems, task support systems, floating map software, and artificial intelligence projects. I did things like creating test scenarios, testing automation, creating test reports, developing test simulators.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download CV
                    </a>
                </div>
            </div>
        </div>
    </section>
